/*
    helpers
*/

.jas_clear {
    clear: both;
}
.jas_hidden {
    position: absolute;
    top: 0px;
    left: -99999px;
    visibility: hidden;
}
.jas_noselect, .jas_lock, .jas-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.jas_t1000 {
    -webkit-transition: all 1000ms;
    -moz-transition: all 1000ms;
    -ms-transition: all 1000ms;
    -o-transition: all 1000ms;
    transition: all 1000ms;
}
.jas_t900 {
    -webkit-transition: all 900ms;
    -moz-transition: all 900ms;
    -ms-transition: all 900ms;
    -o-transition: all 900ms;
    transition: all 900ms;
}
.jas_t800 {
    -webkit-transition: all 800ms;
    -moz-transition: all 800ms;
    -ms-transition: all 800ms;
    -o-transition: all 800ms;
    transition: all 800ms;
}
.jas_t700 {
    -webkit-transition: all 700ms;
    -moz-transition: all 700ms;
    -ms-transition: all 700ms;
    -o-transition: all 700ms;
    transition: all 700ms;
}
.jas_t600 {
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
}
.jas_t500 {
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.jas_t400 {
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.jas_t300 {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
.jas_t200 {
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
.jas_t100 {
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -ms-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
}
.jas_hop:hover {
    opacity: 0.8;
}
.jas_center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.jas_center_x {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.jas_center_y {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

/*
    components
*/

.jas-edit {
    display: block;
    position: relative;
    min-height: 16px;
}
.jas_edit_input {
    border: none !important;
    background: none !important;
    outline: none !important;
    color: inherit !important;
    font-size: inherit !important;
    text-align: inherit !important;
    font-style: inherit !important;
    font-weight: inherit !important;
    resize: none !important;
    display: block !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
    height: 100% !important;
    box-shadow: none !important;
}

.jas-checkbox {
    display: block;
    cursor: pointer;
    position: relative;
}
.jas_checkbox_svg {
    width: 100%;
    height: 100%;
}

.jas-hint {
    display: block;
    position: absolute;
    display: none;
}
.jas_hint_text {}
.jas_hint_tail {
    position: absolute;
}

.jas-trackbar {
    display: block;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.jas_trackbar_line {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
}
.jas_trackbar_button {
    box-sizing: border-box;
    position: absolute;
    right: 0px;
}

.jas-scrollbox {
    display: block;
    overflow: hidden !important;
    position: relative;
}
.jas_scrollbox_sy {
    position: absolute;
    z-index: 1;
}
.jas_scrollbox_syb {
    left: 0px;
    right: 0px;
    cursor: pointer;
    position: absolute;
}

.jas-window {
    display: block;
    position: absolute;
    z-index: 5;
}
.jas_window_b1 {
    position: absolute;
}
.jas_window_b2 {
    position: absolute;
    cursor: pointer;
}
.jas_window_b3 {
    position: absolute;
}
.jas_window_b4 {
    position: absolute;
    overflow: hidden;
}

.jas-formsubmit {
    display: block;
    position: relative;
}
.jas-formsubmit input[type="submit"] {
    opacity: 0 !important;
    position: absolute !important;
    left: 0px !important;
    top: 0px !important;
    display: block !important;
    width: 100% !important;
    height: 100% !important;
    cursor: pointer !important;
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

.jas-popup {
    display: block;
    position: absolute;
    visibility: hidden;
    left: -9999px;
    top: -9999px;
    z-index: 10;
}
.jas_popup_overlay {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 5;
    display: none;
}
.jas-popup.jas_visible {
    visibility: visible;
}
.jas_popup_overlay.jas_visible {
    display: block;
}

.jas-popupclose {
    display: block;
}

.jas-form {
    display: block;
}

.jas-button {
    display: block;
}

.jas-test {
    display: block;
}

/*
    jas_style
*/

.jas-edit.jas_style {
    background: #FFF;
    box-shadow: 1px 1px 3px 1px #777 inset;
    border-radius: 4px;
    padding: 4px 8px;
}
.jas-edit.jas_style.jas_error {
    box-shadow: 1px 1px 3px 1px #C22 inset;
}
.jas-edit.jas_style .jas_edit_input {}
.jas-edit.jas_style .jas_hint {
    top: 100%;
    margin-top: 2px;
}

.jas-checkbox.jas_style {
    min-height: 20px;
    padding-left: 25px;
    line-height: 20px;
}
.jas-checkbox.jas_style .jas_checkbox_b1 {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0px;
    top: 0px;
}
.jas-checkbox.jas_style .jas_checkbox_svg {}
.jas-checkbox.jas_style .jas_checkbox_rect {
    fill: #FFF;
    stroke: #222;
    stroke-width: 4px;
}
.jas-checkbox.jas_style .jas_checkbox_path {
    stroke: #222;
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    stroke-dasharray: 47px;
    -webkit-transition: stroke-dashoffset 0.2s ease-in-out 0s;
    -moz-transition: stroke-dashoffset 0.2s ease-in-out 0s;
    -o-transition: stroke-dashoffset 0.2s ease-in-out 0s;
    -ms-transition: stroke-dashoffset 0.2s ease-in-out 0s;
    transition: stroke-dashoffset 0.2s ease-in-out 0s;
    stroke-dashoffset: 50px;
}
.jas-checkbox.jas_style.jas_checked .jas_checkbox_path {
    stroke-dashoffset: 0px;
}

.jas-hint.jas_style {
    border: 1px solid #444;
    background: #FFF;
    z-index: 5;
    border-radius: 6px;
    margin-left: -36px;
}
.jas-hint.jas_style .jas_hint_text {
    padding: 8px 12px;
    font-size: 16px;
    line-height: 18px;
}
.jas-hint.jas_style .jas_hint_tail {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAHCAQAAACWu2SvAAAAY0lEQVQI12NwYQBBVwZndrtk/eUQHghCKRtu1ebI/83/DZYjSbgB1Tsm5D67/f///ya4FEi1uEZTwttb/yEAJgVEpjlJ/0/9//3/DxAipBjMs3PuPAEL/EGRYoj8fwIuiCwFAPLgXMSBq6O6AAAAAElFTkSuQmCC');
    width: 12px;
    height: 7px;
    position: absolute;
    top: -7px;
    left: 30px;
}

.jas-trackbar.jas_style {
    background: #FFF;
    height: 10px;
    box-shadow: -1px -1px 6px 1px #AAA inset;
    border-radius: 5px;
}
.jas-trackbar.jas_style .jas_trackbar_line {
    box-shadow: -1px -1px 6px 3px #AC4 inset;
    border-radius: 5px;
}
.jas-trackbar.jas_style .jas_trackbar_button {
    width: 20px;
    height: 20px;
    box-shadow: 0px 0px 4px 2px #9B3 inset;
    background: #FFF;
    margin-right: -10px;
    top: 50%;
    border-radius: 50%;
    margin-top: -10px;
}
.jas-trackbar.jas_style .jas_trackbar_button:hover, .jas-trackbar.jas_style.jas_active .jas_trackbar_button {
    background: #DF7;
}

.jas-scrollbox.jas_style {}
.jas-scrollbox.jas_style .jas_scrollbox_sy {
    background: #FFF;
    box-shadow: 0px 0px 2px 1px #777 inset;
    width: 10px;
    border-radius: 5px;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}
.jas-scrollbox.jas_style .jas_scrollbox_syb {
    box-shadow: 0px 0px 4px 2px #9B3 inset;
    border-radius: 5px;
}
.jas-scrollbox.jas_style .jas_scrollbox_syb:hover, .jas-scrollbox.jas_style.jas_active .jas_scrollbox_syb {
    background: #DF7;
}

.jas-window.jas_style {
    background: #333;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: -webkit-transform 200ms, opacity 200ms;
    -moz-transition: -moz-transform 200ms, opacity 200ms;
    -ms-transition: -ms-transform 200ms, opacity 200ms;
    -o-transition: -o-transform 200ms, opacity 200ms;
    transition: transform 200ms, opacity 200ms;
    border: 1px solid #000;
}
.jas-window.jas_style.jas_visible {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.jas-window.jas_style .jas_window_b1 {
    background: #FFF;
}
.jas-window.jas_style .jas_window_b2 {
    width: 24px;
    height: 24px;
    top: 4px;
    right: 3px;
}
.jas-window.jas_style .jas_window_b2_svg {}
.jas-window.jas_style .jas_window_b2_rect {
    fill: #77C;
    stroke: #111;
    stroke-width: 4px;
    -webkit-transition: fill 0.2s ease-in-out 0s;
    -moz-transition: fill 0.2s ease-in-out 0s;
    -o-transition: fill 0.2s ease-in-out 0s;
    -ms-transition: fill 0.2s ease-in-out 0s;
    transition: fill 0.2s ease-in-out 0s;
}
.jas-window.jas_style .jas_window_b2_path {
    stroke: #111;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    stroke-width: 5px;
    stroke-dasharray: 29px;
    stroke-dashoffset: 0px;
}
.jas-window.jas_style .jas_window_b2:hover .jas_window_b2_rect {
    fill: #AAF;
}
.jas-window.jas_style .jas_window_b2:active .jas_window_b2_rect {
    fill: #449;
}
.jas-window.jas_style .jas_window_b2:hover .jas_window_b2_path {
    stroke-width: 7px;
    stroke-dashoffset: -5px;
    stroke-dasharray: 18px;
}
.jas-window.jas_style .jas_window_b2:active .jas_window_b2_path {
    stroke-width: 10px;
    stroke-dashoffset: -5px;
    stroke-dasharray: 18px;
}
.jas-window.jas_style .jas_window_b4 {
    color: #FAFAFA;
    font-weight: bold;
    left: 4px;
    top: 4px;
    line-height: 24px;
    right: 32px;
    font-size: 14px;
}

.jas-popup.jas_style {
    background: #FFF;
    min-width: 300px;
    min-height: 200px;
}
.jas_popup_overlay.jas_style {
    background: #000;
    opacity: 0.7;
}

.jas-formsubmit.jas_style, .jas-button.jas_style {
    background: #F55;
    color: #FFF;
    font-weight: bold;
    box-shadow: 0px 4px 0px 0px #E44;
    border-radius: 4px;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin-bottom: 4px;
}
.jas-formsubmit.jas_style:hover, .jas-button.jas_style:hover {
    background: #F77;
    box-shadow: 0px 4px 0px 0px #E66;
}
.jas-formsubmit.jas_style:active, .jas-button.jas_style:active {
    background: #D33;
    box-shadow: 0px 4px 0px 0px #C22;
}

.jas-popupclose.jas_style {
    background-repeat: no-repeat;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAXCAMAAADX9CSSAAAAvVBMVEX////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////jSrqQAAAAPnRSTlMAAQIDBAYQERMVFxkbHiAjJjI5PD9DZWltbnN0d3h5fH2DhJmen6OnqKu9wcLKzc/U2d3f4eTw8fP19vj9/iKG1OoAAACsSURBVHjadZLXEoJADEWvvWIvCNix9y4q+f/PUrYNMOt5y5nMTvYmYJTqECSmXSjKp3sDjJRLvim1cSZ6NJme0w+L68olKJ4tIL0ghhPo6pUXXjuzIsEQqN1k4W1IMcaadPRRPGq0DaBwiFu/h4D8Pqblz3K7iO5AYrxD3lU6G+n/8H79+/p5TEA/v4U//3VC+by2pJjo8xzF8l9yPdDvy9bsdyZSi99DUtzDF4nyUEf7BoCqAAAAAElFTkSuQmCC');
    background-position: 50% 50%;
    width: 31px;
    height: 31px;
    position: absolute;
    right: -30px;
    top: -30px;
    opacity: 0.8;
    cursor: pointer;
}
.jas-popupclose.jas_style:hover {
    opacity: 1;
}
.jas-popupclose.jas_style:active {
    opacity: 0.6;
}
